*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul{
	display: inline-block;
	list-style-type: none;
	width: 200px;
}

.bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.bold{
	font-weight: bold;
}

.container{
	width: 50vw;
	padding: 10vh 4vw;
}

.w100{
	width: 100%;
}

.error{
	height: 30px;
}
.form{
	width: 200px;
	display: inline-block;
}

.inlineBlock{
	display: inline-block;
}

.list-container{
	width: 200px;
	margin: 0 7px;
}

.lists{
	width: 220px;
	display: inline-block;
}

#addList{
	vertical-align: top;
}