*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul{
	display: inline-block;
	list-style-type: none;
	width: 200px;
}

.bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.bold{
	font-weight: bold;
}

.container{
	width: 50vw;
	padding: 10vh 4vw;
}

.w100{
	width: 100%;
}

.error{
	height: 30px;
}
.form{
	width: 200px;
	display: inline-block;
}

.inlineBlock{
	display: inline-block;
}

.block{
	display: block;
}

.buttonLink{
	margin: 2px;
	border-width: 2px;
	border-color: rgb(118, 118, 118);
	border-style: solid;
	text-decoration: none;
}

.list-container{
	width: 200px;
	margin: 0 7px;
}

.lists{
	width: 220px;
	display: inline-block;
}

.rightTop{
	position: absolute;
	top: 0;
	right: 0;
}

.task{
	margin: 3px 0;
}

.taskContainer{
	position: fixed;
	top: 4vh;
	left: 10vw;
	width: 80vw;
	min-height: 40vh;
}

.z3{
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.7);
}

.VATop{
	vertical-align: top;
}